body {
    font-family: 'Arial', sans-serif;
}
@media screen and(max-width:1024px) {
    .right-nav-icons{
      display: flex;
      flex-direction: row;
      gap: 10px;
      position: absolute;
      right: 100px;
      top:10px;
  }
  }
  .nav-link{
    color: black;
    border-bottom: solid 2px transparent;
   
}
.nav-link a{
    font-weight: bold;
}
.nav-link:hover{
    color: orange;
    border-bottom: solid 2px orange;
}
.right-nav-icons .nav-link{
   border-bottom: 0px;
}
.right-nav-icons .nav-link:hover{
    color: black;
    border-bottom: 0px;
    border-radius: 30px;
}

.w-100 {
    width: 100%!important;
    height: 55%!important;
    padding-right: 93px;
    align-items: center;
}
.ptt{
    padding-top: 10px;
}
.name{
    font-size: 3rem;
}

.hero_title {
    font-size: 2rem;
    padding-left: 10px;
   
}

.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    color: rgb(241, 239, 243);
   
}
.imageAboutPage {
    width: 100%;
}
.col-lg-8{
    font-weight: 50px;
}
/* 3rd page */
.servicesText.card {
    height: 600px;
    cursor: pointer;
  }

.card-title {
    text-align: center;
}
.card {
    height: auto;
}
.objective{
    background-color: rgb(130, 130, 130);
    color: white;
    margin-top: 0.5%;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 3%;
    padding-right: 3%;
}
.objective h2{
    text-align: center;
}
.objective p{
    text-align: justify;
}

.social-icons a{
        font-size: 1.4rem;
        color:rgb(201, 195, 195);
        margin-right: 10px;
}
.social-icons a:hover{
    color:#dc7e7e;
}
/* page 2 */
.objective{
    background-color: rgb(63, 62, 62);
    color: white;
    margin-top: 0.5%;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 3%;
    padding-right: 3%;
}
.objective h2{
    text-align: center;
}
.objective p{
    text-align: justify;
}
.objective ul{
    text-align: left;
}

.social-icons a{
        font-size: 1.4rem;
        color:rgb(201, 195, 195);
        margin-right: 10px;
}
.social-icons a:hover{
    color:#dc7e7e;
}
.servicesText.card {
    height: 600px;
    cursor: pointer;
  }

.card-title {
    text-align: center;
}
.card {
    height: auto;
}
